.addConfigButton {
    -fx-background-color: #F4F4F4;
    -fx-background-radius: 0em;
}

.addConfigButton:hover {
    -fx-background-color: #BFBFBF;
}

.addConfigButton:pressed {
    -fx-background-color: #BFBFBF;
}

/*.button:focused {*/
    /*-fx-background-color: #fff;*/
/*}*/

.anchorPane{
    -fx-background-color: #BFBFBF;
}

/*split-pane*/
.split-pane:horizontal > .split-pane-divider {
    /*-fx-background-color: black;*/
    -fx-padding: 0 0 0 0;
}