.button {
    -fx-background-color: #BFBFBF;
    -fx-background-radius: 0em;
}

.button:hover {
    -fx-background-color: #fff;
}

.button:pressed {
    -fx-background-color: #fff;
}

/*.button:focused {*/
    /*-fx-background-color: #fff;*/
/*}*/

.anchorPane{
    -fx-background-color: #E8E8E8;
}
