.button {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 0em;
}

.button .cancel {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 0em;
}

.button:hover {
    -fx-background-color: #BFBFBF;
}

.button:pressed {
    -fx-background-color: #9d9c9c;
    -fx-effect: dropshadow(three-pass-box, #9d9c9c, 10.0, 0, 2, 2);
}

.text-field {
    -fx-background-radius: 0em;
}

.border-pane-padding {
    -fx-padding: 10;
}
