.button {
    -fx-background-color: #BFBFBF;
    -fx-background-radius: 0em;
}

.button:hover {
    -fx-background-color: #fff;
}

.button:pressed {
    -fx-background-color: #fff;
}

#text {
    -fx-font-size: 20;
}