@import "common.css";

.exportSetupBP {
    -fx-background-color: #BFBFBF;
    -fx-border-width: 0;
}

.exportSetupBP .list-view .list-cell:even {
    -fx-background-color: #BFBFBF;
}

.exportSetupBP .list-view .list-cell:odd {
    -fx-background-color: #BFBFBF;
}

.list-view {
    -fx-border-width: 0;
}

.tab-pane {
    -fx-border-width: 0;
}

