@import "common.css";

#main-set-up {
    -fx-padding: 0
}

.addConfigButton {
    -fx-background-color: #F4F4F4;
    -fx-background-radius: 0em;
}

.addConfigButton:hover {
    -fx-background-color: #BFBFBF;
}

.addConfigButton:pressed {
    -fx-background-color: #BFBFBF;
}

.anchorPane {
    -fx-background-color: #E8E8E8;
}

/*split-pane*/
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #E8E8E8;
    /*-fx-padding: 10 0 10 0;*/
}

/* 去除垂直滚动条 */
/*.list-view .scroll-bar:vertical,*/
/*.list-view .scroll-bar:horizontal {*/
/*    -fx-pref-width: 0;*/
/*}*/


.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.list-view {
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}
