@import "common.css";

.addConfigButton {
    -fx-background-color: #F4F4F4;
    -fx-background-radius: 0em;
}

.addConfigButton:hover {
    -fx-background-color: #BFBFBF;
}

.addConfigButton:pressed {
    -fx-background-color: #BFBFBF;
}

.anchorPane{
    -fx-background-color: #E8E8E8;
}

/*split-pane*/
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #E8E8E8;
    /*-fx-padding: 10 0 10 0;*/
}
