@import "common.css";

/*split-pane*/
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #E8E8E8;
    /*-fx-padding: 10 0 10 0;*/
}

/* 去除垂直滚动条 */
.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-pref-width: 0;
}


.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/*list view*/
.list-view {
    -fx-border-width: 0;
}

.list-view .list-cell {
    -fx-alignment: center;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: white;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #9696da;
    -fx-text-fill: white;
}
